/* Global */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;  /* Hỗ trợ sửa những lỗi padding */
  /* width = content + padding + border + margin */
    /* Khai báo cho trình duyệt đừng cộng padding vào nha!!! */
}
.clear{
    clear: both;
}
.Wrapper{
    width: 100%;
    height: auto;
    float: left;
}
/* Header */
.Header img {
  width:  180px
}
/* Navbar */
.navbar{
    background-color: black ;
    width: 100%;
    height: auto;
}
.navbar ul{
    list-style: none;
    padding: 15px
}
.navbar ul li a {
    text-decoration: none;
    color: white
}
.navbar ul li {
 /* Hoặc display : inline */
    margin: 15px ;
    display: inline;
}
/* Margin là khoảng cách giữa các thẻ vs nhau */
/* Carousel */
.carosel{
    background-image: url("../img/slider_1.jpg") ;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover; 
    /*  background-size: cover;  : phủ hết div  */
    background-position: center;
    margin-top: 10px;
}
/* intro */
.intro span {
    color: red
}
.intro{
    width: 100%;
    height: auto;
    float: left;
    margin-top: 20px
}
.intro__paragraph{
    margin-bottom: 20px;
    text-align: justify
}
.intro__room{
    width: 100%;
    height: auto;
    float: left;
}
.intro__right , .intro__left {
    padding: 15px;
    width: 50%;
    height: auto;
    float: left;
}
.intro__left--top img{
    width: 100%;
    height: auto;
}
.intro__left--bottom img{
    width: 100%;
    height: 495px;
}
.intro__img1{
    width: 50%;
    height: auto;
    float: left;
    padding-right: 10px
}
.intro__img2{
    width: 50%;
    height: auto;
    float: left;
    padding-left: 10px
}
.intro__items{
    width: 100%;
    height: auto;
    float: left;
}
.intro__items img{
    width: 100%;
}
/* products */
.products{
    width: 100%;
    height: auto;
    float: left;
}
.products h1{
    text-align: center
}
.products__items{
    float: left;
    width: 25%;
    padding: 15px
}
.products__items img {
    width: 100%
}
.products__items button{
    background-color: #D94D48;
    color: white;
    padding: 5px;
    border-radius: 10px;
    border : 2px solid #D94D48;
    cursor: pointer;
    margin-top: 10px
}


/* banner */
.banner{
    margin-top: 10px;
    float: left;
    width: 100%;
    height: 300px;
    background-image: url("../img/nature.jpg") ;
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;
      /*  background-size: cover;  : phủ hết div  */
}
.banner__circle{
    width: 14%;
    height: 200px;
    float: left;
    background-color: rgb(247, 77, 77);
    border-radius: 50%;
    margin-left: 290px;
    margin-top: 60px;
    opacity: 0.8;
}
.banner__h1{
    text-align: center;
    color: white;
    margin-top: 40px;
}
.banner__p{
    color: white;
    font-size: 20px;
   text-align: center;
}
/* service */
.service{
    width: 100%;
    height: auto;
    float: left;
}
.service__content{
    width: 75%;
    height: 200px;
    float: left;
    margin-left: 300px
}
.service__item{
    width: 25%;
    height: 200px;
    float: left;
    text-align: center;
    margin-top: 30px;
    margin-left: 10px
}
/* footer */
.footer{
    width: 100%;
    height: auto;
    background-color: black;
    color: white;
    text-align: center;
    float: left;
    margin-top: 15px
}
